@page "/category/list"

@rendermode InteractiveServer
@using ExpenseControl.Frontend.ExpenseControl.Models
@using ExpenseControl.Frontend.ExpenseControl.Services.RequestServices
@inject IRequestProvider request

<PageTitle>List Categories</PageTitle>
<h1>List categories</h1>

@if (categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <DxGrid Data="@categories" CssClass="mw-1100">
        <Columns>
            <DxGridDataColumn Caption="Name" FieldName="Name" />
            <DxGridDataColumn Caption="Description" FieldName="Description" />
        </Columns>
    </DxGrid>
}


@code {
    public IEnumerable<Category>? categories;
   
  

    protected override async Task OnInitializedAsync()
    {
        categories = await request.GetAsync<IEnumerable<Category>>("http://localhost:5051/api/categories", "un token");
    }
}
